
.cor_de_fundo{
	background-color: #fff6d8;
}

.cor_de_texto{
	background-color:#906718;
}



.quadrado2{
	position: absolute;
	top: 1450px;
	left: 0px;
	width: 6000px;
	height: 100px;
	background-color: #906718;
}




